@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Produto";
        

}

<div>
    <h1>Página de Produtos</h1>
    <h2>Conteúdo novo para o projeto</h2>
    <p>Acesse: <a href="https://www.samsung.com">Samsung</a>.</p>
    <p>Acesse: <a href="https://www.xiomi.com">Xiomi</a>.</p>
</div>

